.details_img
{
    border-radius: 10px;
    width:290px;
    height: 435px;
    padding: 15px 0;
    
}

.center
{
    text-align: center;
   
}
.details_list
{
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.details_title
{
    letter-spacing: 1px;
    font-size: 16px;
   padding-top: 30px;
   padding-bottom: 10px;
   color: cadetblue;
}
.details_price
{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
}
.details_color button,.details_size button
{
    width: 35px;
    height: 35px;
    border: 1px solid black;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
}
.details_color button
{
    border-radius: 50%;
    border: none;
}
.details_size button
{
    margin-top: 20px;
    background-color: black;
    color: #fff;
}
.details_des
{
    font-size: 14px;
    text-align: justify;
    margin-right: 5px;
    padding: 15px 0;
    line-height: 1.5rem;
}
.details_btn
{
    border: 1px solid black;
    padding: 10px 20px;
    color: #fff;
    background-color: black;
    margin-bottom: 20px;
    margin-right: 15px;
}
.details_btn:hover
{
    cursor: pointer;
    background-color: #fff;
    color: black;
    transition: .5s ease-in-out;
}
.quantity_sub span
{
    font-size: 20px;
    padding: 0 20px;
}

.quantity p
{
    font-size: 20px;
    margin-right: 40px;
}
.quantity
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.quantity_sub
{
    display: flex;
    justify-content: stretch;
    align-items: center;
}
.quantity_sub:hover
{
    cursor: pointer;
}