.details_img
{
    border-radius: 10px;
    width:290px;
    height: 435px;
    padding: 15px 0;
}
.center
{
    text-align: center;
   
}
.details_list
{
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.details_title
{
   padding-top: 30px;
   padding-bottom: 10px;
   color: cadetblue;
}
.details_price
{
    font-size: 30px;
    padding-bottom: 15px;
}
.details_des
{
    font-size: 14px;
    text-align: justify;
    margin-right: 5px;
    padding: 15px 0;
}
.details_btn
{
    border: 1px solid black;
    padding: 10px 20px;
    color: #fff;
    background-color: black;
}
.details_btn:hover
{
    cursor: pointer;
    background-color: #fff;
    color: black;
    transition: .5s ease-in-out;
}