.sidebar h4
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.sidebar
{
    position: fixed;
}
input
{
    margin-right: 10px;
}
.checklist
{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
label
{
    font-size: 14px;
    font-weight: 500;
}
label:hover
{
    cursor: pointer;
    color: red;
}
.m-l
{
    width: 100%;
    margin: 0 auto;
}
@media only screen and (max-width: 667px)
{
    .sidebar
    {
        display: none;
    }
}